.container {
  background: #f4f4f4;
}

.order-detail {
  margin-bottom: 120rpx;
  padding-bottom: 160rpx;

  .delivery-addr {
    padding: 20rpx 30rpx;
    background: #fff;

    .user-info {
      line-height: 48rpx;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      .item {
        font-size: 28rpx;
        margin-right: 30rpx;
        vertical-align: top;
        display: inline-block;
      }
    }

    .addr {
      font-size: 26rpx;
      line-height: 36rpx;
      color: #999;
      word-wrap: break-word;
    }
  }
}

.prod-item {
  background-color: #fff;
  margin-top: 15rpx;
  font-size: 28rpx;

  .item-cont {
    .prod-pic {
      image {
        width: 180rpx;
        height: 180rpx;
        width: 100%;
        height: 100%;
      }

      font-size: 0;
      display: block;
      width: 160rpx;
      height: 160rpx;
      overflow: hidden;
      background: #fff;
      margin-right: 16rpx;
    }

    display: flex;
    align-items: center;
    padding: 30rpx;
    border-top: 2rpx solid #f1f1f1;

    .prod-info {
      margin-left: 10rpx;
      font-size: 28rpx;
      width: 100%;
      position: relative;
      height: 80px;
      -webkit-flex: 1;
      -ms-flex: 1;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      flex: 1;

      .price-nums {
        margin-top: 80rpx;

        .prodprice {
          color: #333;
          height: 50rpx;
          line-height: 50rpx;
          font-size: 30rpx;
          float: right;
        }

        .btn-box {
          float: right;
          text-align: right;

          .btn {
            padding: 6rpx 30rpx;
            line-height: 36rpx;
            margin-left: 20rpx;
            font-size: 24rpx;
            display: inline-block;
            border: 2rpx solid #e4e4e4;
            border-radius: 50rpx;
          }
        }
      }

      .prodname {
        font-size: 28rpx;
        line-height: 40rpx;
        max-height: 86rpx;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .prod-info-cont {
        position: relative;
        color: #999;
        margin-top: 10rpx;
        font-size: 24rpx;

        .info-item {
          color: #999;
          height: 28rpx;
          margin-top: 10rpx;
          font-size: 24rpx;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          word-break: break-all;
          width: 70%;
        }

        .number {
          float: left;
          margin-right: 20rpx;
        }
      }
    }
  }


}

.order-msg {
  background: #fff;
  margin-top: 15rpx;
  font-size: 28rpx;

  .msg-item {
    padding: 20rpx;
    border-top: 2rpx solid #f1f1f1;

    &:first-child {
      border: 0;
    }

    .item {
      display: flex;
      padding: 10rpx 0;
      align-items: center;
      box-sizing: border-box;

      .item-tit {
        min-width: 140rpx;
        color: #999;
        line-height: 48rpx;
      }

      .item-txt {
        flex: 1;
        line-height: 48rpx;
      }

      .item-txt.remarks {
        max-width: 600rpx;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .copy-btn {
        display: block;
        margin-left: 20rpx;
        border: 2rpx solid #e4e4e4;
        padding: 6rpx 24rpx;
        border-radius: 50rpx;
        font-size: 24rpx;
        line-height: 28rpx;
      }

      .item-txt.price {
        text-align: right;
      }
    }

    .item.payment {
      border-top: 2rpx solid #f1f1f1;
      color: #eb2444;
      padding-top: 30rpx;
    }
  }
}

.order-detail-footer {
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-border {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  width: 50%;
  font-size: 16px;
  border-radius: 4px;
}

.button:first-child {
  background-color: #ffffff;
  color: #007aff;
  border: 1px solid #007aff;
}

.button:last-child {
  background-color: #007aff;
  color: #ffffff;
}

.isPayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
}

.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.order-state {
  height: 70rpx;
  line-height: 70rpx;
  text-align: right;
  margin-right: 20rpx;

  .order-sts {
    color: #eb2444;
    font-size: 28rpx;
  }

  .order-sts.gray {
    color: #999;
    height: 32rpx;
    line-height: 32rpx;
  }

  .order-sts.normal {
    color: #333;
  }
}